@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Author:</strong>   <a href="mailto:piotr.marcin.ostrowski@gmail.com">Piotr Ostrowski</a><br />
</address>